.active {
	list-style-type:circle;
}
.done {
	opacity: .3;
	text-decoration: line-through;
	list-style-type:disc;
}
#main {
	text-align: center;
	margin-bottom: 0;
}
body {
	background-color: #f9f89a; 
}
h1 {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 75px;
	margin-bottom: 0;
}
input {
	border:2px solid #456879;
	border-radius:10px;
	height: 30px;
	width: 700px;
	font-size: large;
	padding-left: 10px;
}
#list {
	background-image: url('\sticky-note-md.png');
	background-size: 100%; 
	background-repeat: no-repeat;
	width: 700px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	font-size: x-large;
	cursor: pointer;
	padding-top: 75px;
}
ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 100px;
}
input:focus, textarea:focus {
    outline: 0;
}